.paginationNav {
    display: flex;
    justify-content: flex-end;
}

.paginationNav ul {
    margin-top: 10px;
}

.paginationNav .page-item a{
    background-color: #fff !important;
    color: #222 !important;
    border: 1px solid #0972a2 !important;
    font-size: 14px;
}

.paginationNav .page-item.active .page-link{
    background-color: #0972a2 !important;
    color: #fff !important;
}